name: Build .NET App

on:
  push:
    branches:
      - main
      - stage
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore (not strictly needed for this simple app, but good practice)
        run: dotnet restore HelloWorld/HelloWorld.csproj

      - name: Build project
        run: dotnet build HelloWorld/HelloWorld.csproj -c Release

      - name: Run app
        run: dotnet run --project HelloWorld/HelloWorld.csproj
